.feedback {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1000;
  width: min(500px, calc(100vw - 24px));
}

.feedbackNotification {
  width: 100%;
}
