* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--g-font-family-sans, Inter, system-ui, sans-serif);
}

a {
  color: inherit;
  text-decoration: none;
}

.g-md-markup-preview__outer {
  padding: 0.25rem 0.25rem 0 0 !important;
}
.g-md-markup-preview__preview-sign {
  display: none !important;
}
.g-md-editor-settings {
  opacity: 0.25;
  position: relative;
  right: 2rem;
}
